%h2= t('devise.registrations.edit', name: resource.name)
= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.email_field :email, autofocus: true, autocomplete: "email", floating: true
  = f.text_field :name, autocomplete: "name", floating: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  - if @minimum_password_length
    - password_help_extra = t('devise.registrations.minimum_password_length', length: @minimum_password_length)
  - else
    - password_help_extra = ""
  = f.password_field :password, autocomplete: "off", floating: true, help: "#{password_help_extra} (#{t('devise.registrations.leave_password_blank')})"
  = f.password_field :password_confirmation, autocomplete: "off", floating: true
  = f.password_field :current_password, autocomplete: "off", floating: true, help: t('user.form.currrent_password_detail')
  .actions
    = f.submit t('form.update'), class: 'btn btn-primary'
= link_to t('back'), :back
