-# wrapping div ensures that js picks up all the fields when templating this out
%div
  = f.hidden_field :id, value: poll_response.id unless poll_response.new_record?
  = f.hidden_field :example_response, value: 1
  .row.no-gutters.align-items-center.my-3
    .col-auto
      = f.label :choice, class: 'side-label'
    .col
      .input-group
        .input-group-prepend
          .input-group-text
            = f.check_box :_destroy, { checked: true }, 0, 1
        = f.text_field :choice, class: 'form-control'
