- if mailing_list.persisted?
  = button_to t('mailing_list.form.delete'), mailing_list_path(mailing_list), method: :delete, class: 'btn btn-danger float-end', data: {confirm: t('mailing_list.form.confirm_delete')}
= form_with(model: mailing_list, local: true) do |f|
  - if mailing_list.errors.any?
    #error_explanation
      %h2= t('mailing_list.form.errors_msg', count: mailing_list.errors.count)
      %ul
        - mailing_list.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  #emails
    = f.fields_for(:emails, mailing_list.emails) do |email_form|
      = render partial: 'mailing_list_emails/form', locals: {f: email_form, mailing_list_email: email_form.object}
  .actions
    = link_to_add_fields t('mailing_list.form.add_email'), f, :emails, {partial: 'mailing_list_emails/form', target: "#emails", locals: { mailing_list_email: f.object.emails.build }}, class: 'btn btn-success', id: "add-email"
    = f.submit class: 'btn btn-primary'
