- title t('mailing_list.index.title')
%h1.title= t('mailing_list.index.header')
%table.table
  %thead
    %tr
      %th= t('mailing_list.index.headings.name')
      %th= t('mailing_list.index.headings.emails_count')
      %th
  %tbody
    - @mailing_lists.each do |mailing_list|
      %tr
        %td= link_to mailing_list.name, mailing_list, class: 'is-size-5 is-link'
        %td= mailing_list.emails.count
        %td
          .btn-group
            = link_to t('form.edit'), edit_mailing_list_path(mailing_list), class: 'btn btn-primary btn-small'
            = link_to t('form.delete'), mailing_list, method: :delete, data: { confirm: t('form.confirm') }, class: 'btn btn-danger'
= link_to t('mailing_list.index.new_button'), new_mailing_list_path, class: ['btn', 'btn-primary']
