%h1= t('.welcome')

%p= t('.purpose')
.row.align-items-end
    .col-md.my-2
        %p= rails_direct_uploads_url
    .col-md.my-2
        %p= t('.rsvp_prompt.full_text', bolded_section: content_tag(:strong, t('.rsvp_prompt.bolded_section'))).html_safe
        %p.mb-3= t('.secret_info')

        = link_to t('.events_button'), events_path, class: 'btn btn-primary btn-lg btn-block'
    .col-md.my-2
        %p
            - if current_user
                = t('.host_prompt.logged_in.full_text', bolded_section: content_tag(:strong, t('.host_prompt.logged_in.bolded_section'))).html_safe
            - else
                = t('.host_prompt.unauthenticated.full_text', bolded_section: content_tag(:strong, t('.host_prompt.unauthenticated.bolded_section'))).html_safe
        - if current_user
            = link_to t('.new_event_button'), new_event_path, class: 'btn btn-success btn-lg btn-block'
        - else
            = link_to t('.log_in_button'), new_user_session_path, class: 'btn btn-success btn-lg btn-block'

