= form_for(event, local: true) do |form|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
  .form-group
    .form-check
      = form.check_box :secret, class: 'form-check-input'
      = form.label :secret, "Make this event secret"
    %small.form-text.text-muted
      Secret events don't appear on the home page or in your events index - you'll need to send people the event link yourself. This won't stop people you send the link to from giving it to others without your permission.
  .form-group
    = form.label :start_time
    = form.text_field :start_time, class: 'form-control datetimepicker', value: event.start_time_str
  .form-group
    = form.label :end_time
    = form.text_field :end_time, class: 'form-control datetimepicker', value: event.end_time_str
  .form-group
    = form.label :photo, "Header Photo"
    = form.file_field :photo
    %small.form-text.text-muted Photos are scaled and cropped to full-screen width, so wide photos with a 3:1 aspect ratio appear best.
  = form.hidden_field :address_id, id: 'existing_address_id'
  = form.fields_for :address do |a_form|
    %h3 Address
    = render "addresses/form", form: a_form
  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: "6"
  .actions
    = form.submit class: 'btn btn-primary'
