- # svg config for info circle
%svg.d-none{xmlns: "http://www.w3.org/2000/svg"}
  %symbol#info-fill{viewBox: "0 0 16 16", fill: 'currentColor'}
    %path{d: "M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"}

.accordion.p-1.mx-md-5
  .accordion-item
    .accordion-header.d-grid
      %button.accordion-button.collapsed.gap-2.btn.text-bg-secondary{type: 'button', data: {bs: {toggle: 'collapse', target: '#preview'}}, aria: {expanded: 'false', controls: 'preview'}}= t('event.form.preview_label')
    #preview.accordion-collapse.collapse
      .alert.alert-info.m-3.d-inline-flex.flex-shrink-0.align-items-center
        %svg.bi.flex-shrink-0.me-2{role: "img", width: '1em', height: '1em', aria: {label: "Info:"}}
          %use{'xlink:href' => "#info-fill"}
        %div= t('event.form.header_photo_crop_prompt')
      .hero.border-top
        .hero-image
          %img#photo-preview{src: event.photo.attached? ? rails_storage_redirect_path(event.photo) : image_path('default_event_image.jpg'), data: {initial_y_offset: event.photo_crop_y_offset}}
        .mx-2
          .hero-title
            %h1.title.display-4#title-preview{data: {default: t('event.title_placeholder')}}
            %em.text-muted.mb-2
              = t('event.show.hosted_by_you')
      .mx-1.alert.alert-danger.text-center.emojified-warning#requires-testing
        %strong= t('event.show.requires_testing')
%hr
= bootstrap_form_for(event, url: event.persisted? ? event_path(event) : events_path) do |form|
  = form.text_field :title, floating: true
  = form.form_group(class: 'row') do
    .col-md-6
      .row
        .col-md-5
          = form.text_field :start_time, class: 'datetimepicker', value: event.start_time_str, floating: true
        .col-md-2.align-items-center.d-flex.text-center
          %em.col= "…#{t('event.show.time_separator')}…"
        .col-md-5
          = form.text_field :end_time, class: 'datetimepicker', value: event.end_time_str, floating: true
    .col-md-6
      = form.form_group do
        = form.check_box :secret, label: t('event.form.labels.secret'), label_class: 'btn btn-outline-dark', class: 'marked-checkbox btn-check', wrapper_class: 'd-inline-block'
        = render "shared/info_tooltip", message: t('event.form.secret_event_help')

        = form.check_box :requires_testing, label: t('event.form.labels.covid_testing'), label_class: 'btn btn-outline-dark', class: 'marked-checkbox btn-check', wrapper_class: 'd-inline-block'
        = render "shared/info_tooltip", message: t('event.form.testing_help')
  .form-group
    = form.hidden_field :photo_crop_y_offset
    - if event.photo.attached?
      = form.hidden_field :photo, value: form.object.photo.signed_id
    = form.file_field :photo, direct_upload: true, help: t('event.form.header_photo_help')
    %strong.form-text#crop-prompt= t('event.form.header_photo_crop_prompt')
  = render partial: "addresses/form", locals: { parent_form: form, address: event.address }
  %hr
  .form-group
    = form.text_area :description, class: 'form-control', style: "height: 10em;", floating: true, help: t('event.form.description_uses_markdown_html', link: link_to(t('event.form.description_uses_markdown_name'), 'https://www.markdownguide.org/basic-syntax/'))
  %hr
  .form-group.mb-2
    %h3= Poll.model_name.human(count: 2)
    #polls
      = form.fields_for(:polls, layout: :inline) do |f|
        = render partial: "polls/form", locals: {f: f}
    = link_to_add_fields t('poll.add_prompt'), form, :polls, {partial: 'polls/form', target: "#polls", locals: { poll: form.object.polls.build }, layout: :inline, child_index: 'added_poll'}, class: 'btn btn-success', id: "add-poll"
  %hr
  .actions
    = form.primary
    = link_to t('back'), events_path, class: 'ms-2 btn btn-light'
