= form_with(model: event, local: true) do |form|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
  .form-group
    = form.label :start_time
    = form.datetime_select :start_time, class: 'form-control'
  .form-group
    = form.label :end_time
    = form.datetime_select :end_time, class: 'form-control'
  = form.fields_for :address do |a_form|
    = render "addresses/form", form: a_form
  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control', rows: "6"
  .actions
    = form.submit class: 'btn btn-primary'
