%h5.text-center.mt-2 Attendees
%ul.nav.nav-pills.nav-fill{role: 'tablist'}
  %li.nav-item
    %a.nav-link#going-tab{href: '#going', role: 'tab', 'aria-controls' => 'going', data: {'bs-toggle': 'tab'}}
      %i.fa.fa-check{"aria-hidden" => true}
      %span= t('event.rsvp_list.headers.yes', count: event.attendances.going.count)
  %li.nav-item
    %a.nav-link#maybe-tab{href: '#maybe', role: 'tab', 'aria-controls' => 'maybe', data: {'bs-toggle': 'tab'}}
      %i.fa.fa-question{"aria-hidden" => true}
      %span= t('event.rsvp_list.headers.maybe', count: event.attendances.maybe.count)
  %li.nav-item
    %a.nav-link#not-going-tab{href: '#not-going', role: 'tab', 'aria-controls' => 'not-going', data: {'bs-toggle': 'tab'}}
      %i.fa.fa-cross{"aria-hidden" => true}
      %span= t('event.rsvp_list.headers.no', count: event.attendances.not_going.count)
.tab-content
  - {going: event.attendances.going, maybe: event.attendances.maybe, 'not-going': event.attendances.not_going}.each do |label, collection|
    - attendances_ordered = rsvps_order(collection)
    .tab-pane{id: label, role: 'tabpanel', 'aria-labelledby' => "#{label}-tab"}
      %ul.list-group
        - if attendances_ordered.empty?
          %li.list-group-item
            %small.text-muted= t('event.rsvp_list.empty_category')
        - elsif event.owned_by?(current_user)
          %li.list-group-item
            %div.mb-2
              %strong= t('event.rsvp_list.host_email_collection_header')
              = text_area_tag nil, attendances_ordered.map(&:attendee).pluck(:email).join(",\n"), class: 'form-control'
        = render partial: "attendances/attendance", collection: attendances_ordered
