%h1.title Events
%table.table
  %thead
    %tr
      %th Title
      %th Attendees
      %th Date
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event, class: 'is-size-5 is-link'
        %td
          %ul.list-unstyled
            %li= "Going: #{event.attendances.going.count}"
            %li= "Maybe: #{event.attendances.maybe.count}"
        %td= event.start_time.to_date
        - if event.owned_by?(current_user)
          %td
            .btn-group
              = link_to 'Edit', edit_event_path(event), class: 'btn btn-primary btn-small'
              = link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- if current_user && current_user.creator?
  = link_to 'New Event', new_event_path, class: ['button', 'is-link']
