- title @index_title
%h1.title
  = @index_title
  .btn-group{role: "group", "aria-label" => "event scopes"}
    = scope t('event.index.category.upcoming'), url_for(scope: :future), :future
    = scope t('event.index.category.past'), url_for(scope: :past), :past
- if @events.any?
  - @events.each do |event|
    .row.bg-light.mb-2.py-2
      .col.align-middle
        .d-grid.text-center
          = link_to event.title, event, class: 'h3 p-2 text-decoration-none'
          - if event.secret
            %small.fst-italic.float-end= t('event.index.labels.secret')
        - if @host.nil?
          %small.fst-italic.mx-2= t('event.index.hosted_by', name: event.owner.name)
        %small.d-block.float-sm-end.mx-2.fw-bold= EventDecorator.decorate(event).start_date
      .col-auto
        .d-grid.gap-1
          .badge.bg-success{title: t('event.index.labels.going'), data: {'bs-toggle': 'tooltip'}}= event.attendances.pluck(:rsvp_status).count('Yes')
          .badge.bg-warning{title: t('event.index.labels.maybe'), data: {'bs-toggle': 'tooltip'}}= event.attendances.pluck(:rsvp_status).count('Maybe')
      - if event.owned_by?(current_user)
        .d-grid.gap-1
          = link_to t('form.edit'), edit_event_path(event), class: 'btn btn-primary btn-sm'
          = link_to t('form.delete'), event, method: :delete, data: { confirm: t('form.confirm') }, class: 'btn btn-danger btn-sm'
- else
  %p
    %strong= t('event.index.zero_state.message')
  - if @host
    - if @host == current_user
      %p= t('event.index.zero_state.click_to_make')
    - else
      %p= t('event.index.zero_state.other_user')
  - elsif @current_scope
    - if @current_scope == "future"
      %p= t('event.index.zero_state.past_prompt', past_link: link_to(t('event.index.zero_state.past_events'), events_path(scope: 'past'))).html_safe
    - elsif @current_scope == "past"
      %p= t('event.index.zero_state.upcoming_prompt', upcoming_link: link_to(t('event.index.zero_state.upcoming_events'), events_path(scope: 'future'))).html_safe
- if current_user
  - if current_user == @host
    - link_text = t('event.index.new_button.self')
  - else
    - link_text = t('event.index.new_button.other')

  = link_to link_text, new_event_path, class: ['btn', 'btn-primary']
