- if @target_user
  - title t('event.index.for_user', name: @target_user.name)
- else
  - title t('event.index.public')

%h1.title
  - if current_user && current_user == @target_user
    = t('event.index.self')
  - else
    - if @target_user
      = t('event.index.for_user', name: @target_user.name)
    - else
      = t('event.index.public')
  .btn-group{role: "group", "aria-label" => "event scopes"}
    - if @target_user
      = scope t('event.index.category.upcoming'), user_events_path(@target_user, scope: :future), :future
      = scope t('event.index.category.past'), user_events_path(@target_user, scope: :past), :past
    - else
      = scope t('event.index.category.upcoming'), events_path(scope: :future), :future
      = scope t('event.index.category.past'), events_path(scope: :past), :past
- if @events.any?
  %table.table.table-sm.table-striped.table-responsive-sm
    %thead
      %tr
        %th= t('event.index.labels.title')
        - if @target_user.nil?
          %th= t('event.index.labels.host')
        %th= t('event.index.labels.attendees')
        %th= t('event.index.labels.date')
        %th
    %tbody
      - @events.each do |event|
        %tr.event-row
          %td
            = link_to event.title, event
            - if event.secret
              %em= t('event.index.labels.secret')
          - if @target_user.nil?
            %td= event.owner.name
          %td
            %ul.list-unstyled
              %li= t('event.index.labels.going_count', count: event.attendances.going.count)
              %li= t('event.index.labels.maybe_count', count: event.attendances.maybe.count)
          %td= EventDecorator.decorate(event).start_date
          - if event.owned_by?(current_user)
            %td
              .btn-group
                = link_to t('form.edit'), edit_event_path(event), class: 'btn btn-primary btn-small'
                = link_to t('form.delete'), event, method: :delete, data: { confirm: t('form.confirm') }, class: 'btn btn-danger'
- else
  %p
    %strong= t('event.index.zero_state.message')
  - if @target_user
    - if @target_user == current_user
      %p= t('event.index.zero_state.click_to_make')
    - else
      %p= t('event.index.zero_state.other_user')
  - elsif @current_scope
    - if @current_scope == "future"
      %p= t('event.index.zero_state.past_prompt', past_link: link_to(t('event.index.zero_state.past_events'), events_path(scope: 'past'))).html_safe
    - elsif @current_scope == "past"
      %p= t('event.index.zero_state.upcoming_prompt', upcoming_link: link_to(t('event.index.zero_state.upcoming_events'), events_path(scope: 'future'))).html_safe
- if current_user
  - if current_user == @target_user
    - link_text = t('event.index.new_button.self')
  - else
    - link_text = t('event.index.new_button.other')

  = link_to link_text, new_event_path, class: ['btn', 'btn-primary']
