- title @event.title

= content_for :edge_to_edge do
  .hero
    .hero-image
      - if @event.photo.attached?
        = image_tag url_for(@event.landing_page_photo)
      - else
        = image_tag 'default_event_image.jpg'
    .mx-2
      .hero-title
        %h1.title.display-4
          = @event.title
          - if @event.owned_by?(current_user)
            %small
              = link_to t('form.edit'), edit_event_path(@event), class: 'text-muted'
        %em.text-muted.mb-2
          - if @event.owned_by?(current_user)
            = t('event.show.hosted_by_you')
          - else
            = t('event.show.hosted_by_other', name: @event.owner.name)
.row
  .col-lg.order-lg-1.order-sm-2
    .row
      .col-sm
        %em
          - # show a simplified format for events spanning a single day
          - if @event.start_datetime.to_date == @event.end_datetime.to_date
            .font-weight-bold= @event.start_date
            = "#{@event.start_time} - #{@event.end_time}"
          - else
            %strong= @event.start_date
            = @event.start_time
            %p
              = t('event.show.time_separator')
              %strong= @event.end_date
              = @event.end_time
      - if @event.address
        .col-sm-auto
          .d-sm-none.mt-2= render 'addresses/show', address: @event.address
          .d-none.d-sm-inline.text-end= render 'addresses/show', address: @event.address
    %hr
    .content= @event.description
  .col-lg.order-lg-2.order-sm-1
    = render 'attendances/event_form', attendance: @attendance, event: @event, attendee: @attendee
    = render 'events/calendar_links', attendee: @attendee, event: @event
    %hr
    = render 'events/rsvps', event: @event
    - if @event.polls.any?
      %hr
      - @event.polls.each do |poll|
        = render 'polls/poll', poll: poll, respondent: @attendee
    - if @event.owned_by?(current_user)
      = link_to t('poll.add_prompt'), new_event_poll_path(@event), class: 'btn btn-primary btn-sm my-2'
%hr

= render @event.root_comments, comments: @event.comments
- if @authenticated_user
  %a.btn.btn-sm.btn-primary.comment-button.mb-3{data: {id: 'new'}}= t('comment.actions.new')
  .comment-form{data: {id: 'new'}}
    = render 'comments/form', event: @event
