%p
  %strong Title:
  = @event.title
%p
  %strong Start time:
  = @event.start_time
%p
  %strong End time:
  = @event.end_time
%p
  %strong Description:
  = @event.description
- if user_signed_in?
  = render 'attendances/event_form', attendance: @attendance, event: @event
- if @event.owned_by?(current_user)
  = link_to 'Edit', edit_event_path(@event)
  |
= link_to 'Back', events_path
= commontator_thread(@event)
