%h1.title
  = @event.title
  - if @event.owned_by?(current_user)
    = link_to 'Edit', edit_event_path(@event), class: 'button is-white'
.subtitle
  = @event.start_time
  \-
  = @event.end_time
- if user_signed_in?
  = render 'attendances/event_form', attendance: @attendance, event: @event
.content= @event.description
%hr
= commontator_thread(@event)
