- title @event.title

.row
  .hero
    .hero-image
      - if @event.photo.attached?
        = image_tag url_for(@event.landing_page_photo)
      - else
        = image_tag 'default_event_image.jpg'
    .col
      .hero-title
        %h1.title
          = @event.title
          - if @event.owned_by?(current_user)
            %small
              = link_to t('form.edit'), edit_event_path(@event), class: 'text-muted'
        %em.text-muted.mb-2
          - if @event.owned_by?(current_user)
            = t('event.show.hosted_by_you')
          - else
            = t('event.show.hosted_by_other', name: @event.owner.name)
.row
  .col-lg
    .row
      .col-sm-auto
        %em
          - # show a simplified format for events spanning a single day
          - if @event.start_datetime.to_date == @event.end_datetime.to_date
            .font-weight-bold= @event.start_date
            = "#{@event.start_time} - #{@event.end_time}"
          - else
            %strong= @event.start_date
            = @event.start_time
            %p
              = t('event.show.time_separator')
              %strong= @event.end_date
              = @event.end_time
      - if @event.address
        .col-sm
          .d-sm-none.mt-2= render 'addresses/show', address: @event.address
          .d-none.d-sm-inline.text-right= render 'addresses/show', address: @event.address

    .d-lg-none
      = render 'attendances/event_form', attendance: @attendance, event: @event, attendee: @attendee
      = render 'events/calendar_links', attendee: @attendee, event: @event
    %hr.d-none.d-lg-block
    .content= @event.description
  .col-lg
    .d-none.d-lg-block
      = render 'attendances/event_form', attendance: @attendance, event: @event, attendee: @attendee
      = render 'events/calendar_links', attendee: @attendee, event: @event
    = render 'events/rsvps', event: @event
    - if @event.polls.any?
      %hr
      - @event.polls.each do |poll|
        = render 'polls/poll', poll: poll, respondent: @attendee
    - if @event.owned_by?(current_user)
      = link_to t('poll.add_prompt'), new_event_poll_path(@event), class: 'btn btn-primary btn-sm my-2'
%hr

= commontator_thread(@event)
