= render "partials/dynamic_list_form_field", f: f, item_name: 'poll', fields: [:question] do |row_id|
  .my-2.px-4
    %div.mb-2{class: "example-responses-#{row_id}"}
      = f.fields_for(:responses, scope: :example, layout: :inline) do |r|
        = render partial: 'poll_responses/edit_example_response', locals: {f: r, poll_response: r.object}
    = link_to_add_fields t('poll.form.add_option'), f, :responses, {partial: 'poll_responses/edit_example_response', target: ".example-responses-#{row_id}", locals: { poll_response: f.object.responses.build }, layout: :inline, child_index: 'added_response'}, class: 'btn btn-success', id: "add-response"
