= form_with(model: form_object, local: true) do |f|
  - if poll.errors.any?
    #error_explanation
      %h2
        = pluralize(poll.errors.count, "error")
        prohibited this poll from being saved:
      %ul
        - poll.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :question
    = f.text_field :question, class: 'form-control'

  #example-responses
    = f.fields_for(:responses, poll.responses.example) do |r|
      = render partial: 'poll_responses/edit_example_response', locals: {f: r, poll_response: r.object}
  = link_to_add_fields 'Add an option', f, :responses, {partial: 'poll_responses/edit_example_response', target: "#example-responses", locals: { poll_response: f.object.responses.build }}, class: 'btn btn-success', id: "add-response"
  .actions
    = f.submit class: 'btn btn-primary'
- if poll.persisted?
  = button_to "Destroy", poll_path(poll), method: :delete, class: 'btn btn-danger', confirm: "Are you sure you want to delete this?"
