.my-2
  %h4
    = poll.question
    - if poll.owned_by?(current_user)
      %small= link_to t('form.edit'), edit_poll_path(poll), class: 'text-muted'
  - if respondent.nil?
    %em.text-muted= t('poll.rejection.unauthenticated_html', sign_in_link: link_to(t('poll.rejection.unauthenticated_sign_in_msg'), new_user_session_path))
  %ul.list-group
    - poll_response = poll.response_for_respondent(respondent)
    - form_object = poll_response.persisted? ? [poll_response] : [poll, poll_response]
    - total_response_count = poll.responses.non_example.count
    = form_for form_object do |f|
      - if current_user.nil?
        = hidden_field_tag :guest_guid, params[:guest_guid]
      = fields_for :respondent do |respondent_form|
        = respondent_form.hidden_field :name
        = respondent_form.hidden_field :email
      = f.hidden_field :example_response, value: false
      - poll.responses_and_counts.each do |response, count|
        - if total_response_count.zero?
          - percentage = 0
        - else
          - # multiply by 0.95 so the bar never takes up the whole line
          - percentage = ((100 * count / total_response_count) * 0.95).round(0)

        %li.poll-response.list-group-item.my-1
          .poll-response-bar{role: 'progressbar', style: "width: #{percentage}%;"}
          %span.poll-response-label
            = f.radio_button :choice, response, disabled: respondent.nil?
            = response
            - if count > 0
              = "(#{count})"
      - if poll_response.persisted?
        = f.submit t('poll_response.form.update'), class: 'btn btn-secondary btn-block mt-1'
      - else
        = f.submit t('poll_response.form.create'), class: 'btn btn-secondary btn-block mt-1'
    - if poll_response.persisted?
      = button_to t('poll_response.form.destroy'), poll_response_path(poll_response, guest_guid: params[:guest_guid]), method: :delete, class: 'btn btn-danger btn-block mt-1'
