- parent_form ||= nil
- address ||= nil
%h3= t('activerecord.models.address')
= optional_parent_wrap(parent_form, address || Address.new) do |form|
  - if @prior_addresses.any?
    .input-group.mb-2
      %span.input-group-text= t('address.form.use_prior')
      = select_tag('prior_addresses', options_for_select(@prior_addresses.map{|a| [a.to_s, a.id, a.attributes] }), include_blank: t('address.form.address_placeholder'), class: 'form-select form-select-sm')
    %hr
    
  = form.text_field :street, floating: true

  = form.text_field :street2, class: 'form-control', label: t('address.form.street2_unit_number_explain'), floating: true

  .row
    .col-md
      = form.text_field :city, floating: true
    .col-md
      - states = Carmen::Country.coded('USA').subregions.typed('state').map{|state| [state.name, state.code] }
      = form.select :state, [[t('address.form.state_placeholder'), nil]] + states,floating: true
    .col-md
      = form.text_field :zip_code, floating: true
