- row_id = mailing_list_email.persisted? ? "mailing_list_email_#{mailing_list_email.id}" : "mailing_list_email__timestamp_"
= f.form_group layout: :inline, class: 'row', "id" => row_id, data: {persisted: (!mailing_list_email.new_record?).to_s} do
  = f.hidden_field :id, value: mailing_list_email.id unless mailing_list_email.new_record?
  = f.hidden_field :_destroy, class: 'destroy', value: 0
  .input-group.mb-1
    = f.text_field :email, floating: true
    %button.btn.btn-danger.dynamic-list-delete{data: {dynamic_target_id: row_id}, onclick: "return false;"} X
