%li.list-group-item
    %span.m-1= commontator_gravatar_image_tag(attendance.attendee, 1, s: 25, d: 'identicon')
    %span= attendance.attendee.name
    - if attendance.attendee.is_a?(Guest)
        %small.text-muted= t('attendance.is_guest_account')
    - elsif attendance.event.owned_by?(attendance.attendee)
        %small.text-muted= t('attendance.is_host')
    - if attendance.event.owned_by?(current_user)
        .float-right
            %em.small= attendance.attendee.email
            = button_to "X", attendance_path(attendance), method: :delete, data: {confirm: t('attendance.dialog.remove_attendance', name: attendance.attendee.name)}, class: 'btn btn-sm btn-link text-danger ml-2 p-0', form_class: 'd-inline'
    - else
        %em.float-right.text-muted.small= t('attendance.email_hidden')
