.field.has-addons
  = form_for [event, attendance], class: 'is-inline-flex' do |form|
    = form.hidden_field :invitable_id, value: current_user.id
    .is-inline-flex.control
      = form.select :rsvp_status, options_for_select(["No RSVP"] + Attendance::RSVP_TYPES, selected: attendance.rsvp_status), {}, class: 'select input is-info'
    .is-inline-flex.control
      - if attendance.persisted?
        = form.submit "Update", class: 'button is-link'
      - else
        = form.submit "RSVP", class: 'button is-link'
  - if attendance.persisted?
    .control
      = button_to("Un-RSVP", event_attendance_path(event, attendance), method: :delete, class: 'button is-danger')
