- form_object = attendance.persisted? ? [attendance] : [event, attendance]
= bootstrap_form_for(form_object) do |form|
  - if current_user
    = form.hidden_field :user_id, value: current_user.id
  - else
    = hidden_field_tag :guest_guid, params[:guest_guid]
    .row.my-2.mx-1
      %h5.col-lg-8.p-0
        %div= t('attendance.form.prompt_guest')
        %small.fst-italic.text-muted= t('attendance.form.can_change_later')
      %h6.col-lg-4.p-0.text-end
        = link_to t('attendance.form.sign_in_alt'), new_user_session_path, class: 'text-decoration-none'

    = fields_for(:attendee, form.object.attendee, builder: BootstrapForm::FormBuilder) do |attendee_form|
      = attendee_form.text_field :name, prepend: t('activerecord.attributes.attendee.name') + ":", skip_label: true, wrapper_class: 'my-2'
      = attendee_form.email_field :email, prepend: t('activerecord.attributes.attendee.email') + ":", prepend_class: 'aeiou', skip_label: true, wrapper_class: 'my-2'
  = form.select :rsvp_status, options_for_select(attendance_types_localized, selected: attendance.rsvp_status), prepend: t('activerecord.attributes.attendance.rsvp_status') + ":", append: form.primary('RSVP'), skip_label: true, wrapper_class: 'my-2'
