- form_object = attendance.persisted? ? [attendance] : [event, attendance]
.row.my-2.mx-1
  = form_for form_object, html: {class: 'form-inline col p-0'} do |form|
    = form.hidden_field :invitable_id, value: current_user.id
    .input-group.col.p-0
      .input-group-prepend
        .input-group-text RSVP:
      = form.select :rsvp_status, options_for_select(["No RSVP"] + Attendance::RSVP_TYPES, selected: attendance.rsvp_status), {}, class: 'form-control'
    - if attendance.persisted?
      = form.submit "Update", class: 'btn btn-primary col-auto m-0'
    - else
      = form.submit "RSVP", class: 'btn btn-primary col-auto m-0'
