.row.my-2.mx-1
  = form_for [event, attendance], html: {class: 'form-inline col p-0'} do |form|
    = form.hidden_field :invitable_id, value: current_user.id
    .input-group.col.p-0
      .input-group-prepend
        .input-group-text RSVP:
      = form.select :rsvp_status, options_for_select(["No RSVP"] + Attendance::RSVP_TYPES, selected: attendance.rsvp_status), {}, class: 'form-control'
    - if attendance.persisted?
      = form.submit "Update", class: 'btn btn-primary col-auto m-0'
    - else
      = form.submit "RSVP", class: 'btn btn-primary col-auto m-0'
  - if attendance.persisted?
    .col-sm-auto.p-0
      = button_to("Un-RSVP", event_attendance_path(event, attendance), method: :delete, class: 'form-control btn btn-danger')
