!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Parties
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'partials/navbar'
    - if notice
      .notification.is-info= notice
    - if alert
      .notification.is-warning= alert
    = yield :sidebar
    .box
      = yield
