!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width", "initial-scale" => "1"}/
    %title
      - if content_for?(:title)
        = yield :title
        = ' - '
      Parties For All
    = csrf_meta_tags
    = vite_stylesheet_tag 'application.scss', media: 'all'
    = vite_typescript_tag 'application'
  %body
    = render 'partials/navbar'
    - if notice
      .alert.alert-info= notice
    - if alert
      .alert.alert-warning= alert
    = yield :edge_to_edge
    .container-fluid
      = yield
